html body{
  margin: 0 auto;
  padding: 0 auto;
  font-size: 1rem;  //16px
}

.profile_icon {
    width: auto;
    height: 80%;
}

.home_icon {
  margin-left: 12px;
  border-radius: 28px;
  width: 64px;
  height: auto;
}

.home_icon:hover {
//  background-color: lightblue;
}

#twt_content {
  font-size: 2rem;
  border: none;
}

#submit_button {
  width: 140px;
  height: 36px;
  border-radius: 20px;
  margin-top: 10px;
  padding-top: 10px;
  padding-right: 32px;
  
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #1DA1F2;
  
  opacity: 0.6;
}

#submit_button:hover{
  opacity: 1.0;
}
